body {
  font-family: Arial, sans-serif;
  background-color: #fa6fff;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  /* margin: 10px; */
  border: 10px solid #00ffdd;
  padding: 20px;
  /* MBPC */
}

.container {
  display: grid;
  width: 95%;
  
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 200px 300px 50px 150px;
  grid-gap: 10px;
}